<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Welcome to PlantDiary</h1>
<form action="#" th:action="@{/searchplants}" method="GET">
<input type="text" name="searchTerm" />
<button type="submit" name="submit" value="0">Search</button>
</form>

Your specimen is: <p th:text="${specimenDTO}" />

<form action="#" th:action="@{/savespecimen}" th:object="${specimenDTO}" method="GET">
Latitude: <input type="text" name="latitude" th:field="*{latitude}" /><br/>
Longitude: <input type="text" name="longitude" th:field="*{longitude}" /> <br/>
Description: <input type="text" name="longitude" th:field="*{description}" /> <br/>
Plant: <input type="text" name="longitude" th:field="*{plantId}" /> <br/>

<button type="submit" name="submit" value="0">Submit</button>

</form>

</body>
</html>